<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.klarna.ondemand">

    <application
        android:allowBackup="true">
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/TITLE_ACTIVITY_REGISTRATION" >
        </activity>
    </application>

</manifest>
