<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.klarna.ondemand">

    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true">
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/TITLE_ACTIVITY_REGISTRATION"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name=".PreferencesActivity"
            android:label="@string/TITLE_ACTIVITY_PREFERENCES"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
    </application>

</manifest>
